/*------------------------ALL----------------*/

*
{
    padding: 0;
    margin: 0px;
}
 header,nav,aside,article,main,section,footer
 {
     border:0;
     display: block;
 }
 #logo
 {
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    position: absolute;
    height: 200px;
    width: 300px;
    margin-top: -150px;
    margin-left: -90px;
 }

#login .form,
#layout3 .form
 {
     background:pink;
     z-index: 1;
     font-family: "Candara", sans-serif;
     position: absolute;
     top:50%;
     left: 50%;
     transform:translate(-50%, -50%);
     width: 400px;
     padding: 0 45px 30px 45px;
     text-align: center;
     border-radius: 10px;
     opacity: 0.9;
 }

 a
 {
     text-decoration: none;
 }

#layout1,
#layout2,
#layout4
{
    background-image: url(../images/Screenshot_1.png);
    height:610px;

}

#layout1 .login_logo,
#layout2 .login_logo,
#layout4 .login_logo
{

    margin-top: -80px;
    width: 140px;
    height: 150px;
}

#layout1 .wrapper,
#layout2 .wrapper,
#layout4 .wrapper
{
    
   margin:0 auto;
   width:90%;

}

#layout2 .card,
#layout4 .card
{
    
    background:pink;
    z-index: 1;
    font-family: "Candara", sans-serif;
    padding: 100px 25px;
    position: relative;
    color: #000;
    text-align: center;
    margin:0 auto;
    opacity: 0.9;
    height: 610px;
}

 /******************login**************/

 @keyframes scrollBackground {
  from {
    background-position: 50% 0;
  }
  to {
    background-position: 50% 422px;
  }
}

@-webkit-keyframes scrollBackground {
  from {
    background-position: 50% 0;
  }
  to {
    background-position: 50% 422px;
  }
}
@-moz-keyframes scrollBackground {
  from {
    background-position: 50% 0;
  }
  to {
    background-position: 50% 422px;
  }
}
@-o-keyframes scrollBackground {
  from {
    background-position: 50% 0;
  }
  to {
    background-position: 50% 422px;
  }
}

body {
  margin: 0;
}

.logo-wall { 
    position: relative;
    width: 100%; 
    height: 100vh; 
    background: #fff url('https://jonnymorse.files.wordpress.com/2013/03/retro-sweets-repeat-pattern-blue.jpg') repeat center top;
    overflow: hidden;
    animation: scrollBackground 30s linear infinite;
    -webkit-animation: scrollBackground 30s linear infinite;
    -moz-animation: scrollBackground 30s linear infinite;
    -o-animation: scrollBackground 30s linear infinite;
}

.logo-wall img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -51px;
    margin-left: -51px;
}

 #login .login_logo
 {
    height: 150px;
    color: black;
 }
 

 #login .form h2
 {
     color: #fff;
     font-size: 28px;
     font-weight: 500;
     text-align: center;
     text-transform: uppercase;
 }

 #login .form .images img
 {
     font-size: 25px;
     margin: 0 0px 20px;
     transition: 0.8s;
     transition-property: color,transform;
 }
 
 #login .form .images img:hover
 {
     transform: scale(1.3);
 }

 #login .form input
 {
     outline: 0;
     background:none;
     font-size: 15px;
     color: #fff;
     text-align: center;
     width: 265px;
     margin-bottom: 30px;
     padding: 15px;
     box-sizing: border-box;
     border: 2.5px solid #2E86DE;
     border-radius: 25px;
     transition-property: width;
 }

 #login .form input:hover
 {
     width: 300px;
 }
 #login .form input:focus
 {
     width: 300px;
 }

 #login .form button
 {
     outline: 0;
     background:none;
     color: #fff;
     font-size: 14px;
     text-transform: uppercase;
     width: 150px;
     padding: 15px;
     border: 15px;
     border: 2.5px solid #10ac84; 
     border-radius: 25px;
     cursor: pointer;
     transform: 0.5s;
     transition-property: background , transform;
 }

 #login .form button:hover, .form button:active, .form button:focus
 {
     background:#10ac84;
     transform: scale(1.1);
 }

 #login .form .message
 {
     color:black;
     font-size: 14px;
     padding: 5px;
 }
 #login .form .message a
 {
     text-decoration: none;
     color: #06c5cf;
 }

 @media only screen and (max-width: 600px) {

    tr :nth-child(3),
    tr :nth-child(4),
    tr :nth-child(5),
    tr :nth-child(6) {
        display: none;
    }

    .mob_adapt{
        display: none;
    }

    .col-4,
    .col-2 {
        max-width: 100% !important;
        margin: 10px 0
    }

    .form-row {
        display: block
    }

    .navbar-text-current {
        color: #fff !important
    }

    #main_station_info {
        margin: 1% 5%
    }

    #main_station_info .btn-warning {
        margin-bottom: 30px
    }

    .card-body {
        height: auto;
    }
}
 /*-----------------LAYOUT1-----------------*/

 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

 *
{
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#layout1 .card
 {
    position: absolute;
    background:pink;
    z-index: 1;
    font-family: "Candara", sans-serif;
    padding: 100px 25px;
    position: relative;
    color: #000;
    text-align: center;
    margin:0 auto;
    opacity: 0.9;
    height: 610px;
 }

 
 #layout1 #history
 {
     position: absolute;
     top: 20px;
     right: 20px;
     cursor: pointer;
     justify-content: center;
     align-items: center;
     color:black;
     z-index: 2;
     display: block;
 }

 #layout1 #history:hover
 {
     color: slategray;
 }

 #layout1 .alrge li
 {
    list-style-type: square;
    margin-left: 10px;
 }
 :root {
   
    --overlay-color: rgba(144, 211, 238, 0.85);
    --menu-speed: 0.75s;
  }
  
  /* MENU STYLES */
  .menu-wrap
   {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  
  .menu-wrap .toggler 
  {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  
  .menu-wrap .hamburger
  {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Hamburger Line */
  .menu-wrap .hamburger > div 
  {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  
  /* Hamburger Lines - Top & Bottom */
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after
   {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  
  /* Moves Line Down */
  .menu-wrap .hamburger > div::after
   {
    top: 10px;
  }
  
  /* Toggler Animation */
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  
  /* Turns Lines Into X */
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  
  /* Rotate On Hover When Checked */
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  
  /* Show Menu */
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }
  
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
  }
  
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-wrap .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  
  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color:black;
    font-size: 1.5rem;
    padding: 1rem;
  }
  
  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }

 #layout1 .profile_img img
 {
     width: 80px;
     border-radius: 50%;
     display: block;
     margin: 0 auto;
     padding-top: 50px;
 }

 #layout1 .profile_img .name
 {
     font-size: 23px;
     font-weight: 500;
     margin: 15px 0 5px;
 }

 #layout1 .profile_img .place
 {
     font-size: 14px;
     font-weight: 300;
 }

 #layout1 .profile_img .place .icon
 {
     margin-right: 10px;
 }

 #layout1 .profile_icons
 {
     display: flex;
     justify-content: center;
     margin: 30px 0;
 }

 #layout1 .profile_icons .profile_item
 {
     margin-right: 15px;
 }

 #layout1 .profile_icons .profile_item:last-child
 {
     margin-right: 0;
 }

 #layout1 .profile_item .icon,
 .profile_item .num
 {
    font-size: 24px;
    float:center;
 }

 #layout1 .profile_item .title
 {
     font-size: 12px;
     text-transform: uppercase;
     margin: 10px 0;
 }

 #layout1 .emergency_btn
 {
     background: rgba(223, 105, 105, 0.418);
     padding: 10px;
     border-radius: 25px;
     width: 200px;
     margin: 0 auto;
     color: black;
     cursor: pointer;

 }

 #layout1 .emergency_btn:hover
 {
     background: red;
 }



 #layout1 #profile_slider 
 {
  width: 325px;
  height: 410px;
  background:rgb(172, 218, 236);
  color:black;
  font-size: 14px;
  position: absolute;
  visibility: hidden;
  margin-left: 655px;
  z-index: 1;
  margin-top: -570px;
  padding: 10px;
  opacity: 0.7;
  border-radius: 10px;
  right: 90px;
}
 

 #layout1 #profile_slider li
 {
  height: 80px;
  border-bottom: 1px solid #eceff4;
  padding: 15px;
 }

 #layout1 #profile_slider li:last-child
 {
     border-bottom: 0;
 }

 #layout1 #profile_slider li .slider_item,
 .profile_slider li
 {
     display: flex;
 }

 

 



  /*-------------------layout2(checkbox)----------------*/


 
  #layout2 h3
  {
      color: rgb(139, 130, 130);
      opacity: 0.9;
      font-family: Arial, Helvetica, sans-serif;
      display: block;
      margin-left: 20px;
  }
  #layout2 h3:hover
  {
      transform: scale(1.1);
  
  }

  #layout2 .list
  {
    margin-left: 10px;
    margin-top: 30px;
    display: block;
  }

  
  #layout2 .list .checkmark
  {
      margin-left:320px;
      
  }

  #layout2 .Products 
  {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left:300px;
  }

  #layout2 .imgs
  {
      margin: -10px;
      margin-left: 1px;
      width: 30px;

  }
  
  
  #layout2 .Products input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  
  #layout2 .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

  #layout2 input
  {
    border-radius: 10px;
    border: 10px;
  }
  
  
  #layout2 .Products:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  
  #layout2 .Products input:checked ~ .checkmark {
    background-color: #2196F3;
    transform: scale(1.1);
    
  }
  
 
  #layout2 .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  
  #layout2 .Products input:checked ~ .checkmark:after {
    display: block;
  }
  
  
  #layout2 .Products .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #layout2 .button
  {
    outline: 0;
    background:none;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    width: 100px;
    padding: 5px;
    margin: 15px;
    border: 5px;
    border: 2px solid #10ac84; 
    border-radius: 20px;
    cursor: pointer;
    transform: 0.5s;
    transition-property:transform;
  }

  #layout2 .button:hover
  {
      background-color: #10ac84;
      transform: scale(1.1);
  }


  /*-------------------layout3----------------*/


  
h1
{
    padding: 16px;
    font-size: 22px;
    color:black;
    text-align: center;
}

.main-form 
{
   
    padding:40px 40px;
}

.form-group
{
    position: relative;
    margin-bottom:28px;
    
}
.gt-input
{
  
    font-family: "Roboto", sans-serif;
    outline: 0;
    width: 300px;
    height: 40px;
    padding: 0 25px;
    font-size: 14px;
    border:0;
    border-radius: 10px;
}
.gt-text
{
    padding:10px 20px;
    height:70px;
    width:100% ;
    
}
.gt-input:focus
{
    outline: none;
}
.gt-button
{
    outline: 0;
     background:none;
     color: #fff;
     font-size: 14px;
     text-transform: uppercase;
     width: 150px;
     padding: 15px;
     border: 15px;
     border: 2.5px solid  #707879; 
     border-radius: 25px;
     cursor: pointer;
     transform: 0.5s;
     transition-property: background , transform;
}
.gt-button:hover
{
    background:  #707879;
   
    transform: scale(1.1);
}

.move-up
{
 margin-top:-32px;
 margin-left: 0px;
 font-size: 14px;
 background: #707879;
 border-radius: 8px 0;
 color: black;
 padding: 4px 8px;
 min-width: 100px;
}
#layou3 .form
 {
     background:rgb(221, 173, 181);
     z-index: 1;
     font-family: "Candara", sans-serif;
     position: absolute;
     top:50%;
     left: 50%;
     transform:translate(-50%, -50%);
     width: 400px;
     padding: 0 45px 30px 45px;
     text-align: center;
     border-radius: 10px;
     opacity: 0.9;
 }

 /*****************layout4***********************/

 
 #layout4 h2
 {
     margin-top: 10px;
 }
 .slidershow
 {
    width: 700px;
    height: 250px;
    overflow: hidden;
  }
  .middle
  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .navigation
  {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .bar
  {
    width: 50px;
    height: 10px;
    border: 2px solid red;
    margin: 6px;
    margin-bottom: -6px;
    cursor: pointer;
    transition: 0.4s;
  }
  .bar:hover
  {
    background: rgb(58, 56, 56);
  }
  
  input[name="r"]
  {
      position: absolute;
      visibility: hidden;
  }
  
  .slides
  {
  
    width: 500%;
    height: 100%;
    display: flex;
  }
  
  .slide
  {
    width: 20%;
    transition: 0.6s;
  }
  .slide .images
  {
    width: 100%;
    height: 100%;
  }
  
  #r1:checked ~ .s1
  {
    margin-left: 0;
  }
  #r2:checked ~ .s1
  {
    margin-left: -20%;
  }
  #r3:checked ~ .s1
  {
    margin-left: -40%;
  }
  #r4:checked ~ .s1
  {
    margin-left: -60%;
  }
  #r5:checked ~ .s1
  {
    margin-left: -80%;
   
  }


  
  @media only screen and (max-width: 480px){
      #layout4 .card{
          width: 300px;
          height: 300px;
      }
      #layout3 .logo-wall
      {
        background: none;
      }
  }
  @media only screen and (min-width:418px)and (max-width:768px){
      #layout1 .profile_icons
      {
        display: block;
      }
      #layout1 .card
      {
        height: 680px;
      }
      #layout1 #profile_slider
      {
        margin-top: -640px;
        margin-right: -20px;
        z-index: 1;
        opacity: 0.9;
      }
      #layout2 .card
      {
        left: -60px;
        top:30px;
        width: 500px;
      }
      #layout2 .checkmark
      {
        left:-120px;
      }
      #layout2 .Products
      {
        left: -80px;
      }
      #layout2 #logo
      {
        left: 250px;
      }
      #layout2 h3
      {
        margin-left: 20px;
      }
      
      #layout4 .card
      {
        width: 500px;
        height: 500px;
        
      }
      #layout4 h2
      {
        margin-top: 300px;
      }

  }
  